@import './styles/_variables.css';

/* 전역 폰트와 컬러 적용 */
body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

#app {
  background-color: var(--color-background);
}
